		*{
			margin: auto;
			padding: 0px;
			line-height: 135%;
			background-color: transparent;
		}
		.logo { width:125px;height:125px;margin-left:10px;float:left;margin-top:-3px;

		}
		.topright {
		
			color:black;
			height:155px;
			width:800px;
			position: relative;
			line-height: 50px;
			padding-top: 10px;
			border:2px solid;
			border-bottom:0px;border-top:0px;
			box-sizing: border-box;
						
		}
		.menu {

			
			height:35px;
			width: 800px;
			background: linear-gradient(#7CC2E9,#FFFFFF);

			padding:7px; 
			position: relative;
			box-sizing: border-box;
			letter-spacing:0.5px;
			border:2px solid;
			border-bottom:0px;
			border-top:0px;
			text-align: center;
		}
		
		
		.shortlist{
			width:800px;
			height:50px;
			color:black;			
			border: 2px solid;
			border-top:0.5px;
			border-bottom:0px;
			position:relative;
			box-sizing: border-box;
			text-align: center;
			
			
		}
		.shortlistepi{
			
			width:220px;
			position: fixed;
			float: left;
			border: 1px solid;
			
			padding-top: 10px;
			padding-left: 30px;
		}
		.content {
			color:black;
			width: 800px;
			position:relative;
			margin: auto;
			border:2px solid;
			padding: 10px;
			text-align: left;
			box-sizing: border-box;
			border-top: 0px;
			padding-top: 8px;	
			border-bottom:0px;
			
		}
		.event{
			height: 30px;
			width: 800px;
			top:250px;
			right: 0px;
			position: relative;
			border:2px solid #2499DB;
			padding: 10px;
			padding-top:50px;
			border-top:0px;
			box-sizing: border-box;
			
		}
		.innerdiv{
			width: 80px;
			height: 30px;
			border: 2px solid #2499DB;
			border-radius: 10px;
			padding-top: 10px;
			margin:auto;
			margin-top:-40px;
			font-size: 20px;	
		}
		.footer{
	
			<!--color: #0000FF;-->
			text-align: center;
			vertical-align: middle;
			position: relative;
			height: 28px;
			width:800px;
			top:0px;
			background-color: #7CC2E9;
			padding-top: 0px;
			border: 2px solid;
			border-top:0px;
			border-bottom:2px solid;
			box-sizing: border-box;

		}
		
		.mrqs{
	
			border:0px solid;
			height:30px;
			width:800px;
			padding: 0px;
			bottom: 0px;
			text-align: center;
			right: 0px;
			float: right;
			position: absolute;
			border: 0px solid;

		}
		.contenthead{
			
			border: 1px solid;
			height: 50px;
			top: 0px;
			right: 0px;

		}
		.map{
			height: 300px;
			width: 300px;
			float: right;
			border: 1px solid;

		}
		
		.overlay{
			position: fixed;
  			  width: 100%;
   			 height: 100%;
    			background: linear-gradient(#A7D6F1,#FFFFFF);
		}

		.gotop{
			height: 22px;
			position: absolute;
			width: 130px;
			right: 0px;
			bottom: 0px;
			border: 0px solid;
			padding: 0px;
			background-color: #7CC2E9;
		}
		
		.timing{
			width: 400px;
			border:1px solid;
			border-width: 3px;
			border-style:double;
			margin: auto;
			padding-left: 5px;

		}
		.hometop {
			width:95%;
			height:300px;
			border:2px solid;
			display: block;
			margin: 0 auto;			

		}
		.head_part_of_list{
					
			left:3px;
			width:140px;
			height:40px;
			float:left;
			text-align: center;
			border: 0px solid;
		}
		.haveaglance{
			line-height:270%;
			font-size:18px;
			font-weight: bold;
		}
		.follow_here{
			position:absolute;bottom:22px;right:23px;font-size:17.5px;
		}
		.fbicon{
			width:25px;height:25px;
		}
		.marquee{
			text-size:17px;margin-right:10px;margin-bottom:-12px;margin-left:13px;
		}
		.scroller{
			width: 796px; height:100px; 
			overflow-y:scroll;
			overflow-x:hidden; 
			border:2px solid;
			color: black;


			position: relative;
			border-top: 0px;
			border-bottom:0px;
		}